/* Font Family  */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*******************/
/* Reset */
/*******************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: 'Open Sans';
  font-family: "Raleway",sans-serif;
  
}

.container {
  width: 144rem;
  margin: 0 auto;
}

.page {
  max-width: 144rem;
  margin: 0 auto;
}

/* Please write your css sections inside each allocated place so that we can have a clean code */

/*****************/
/* HEADER */
/*****************/

.header{
  margin: 5rem 0    /*6rem*/;

  /* We don't need this on too */
  /* padding:5rem; */
  display: flex;
  justify-content: space-between;

  /* I'm adding flex here to achieve the desired layout */
}

.fylo-nav{
  font-size:1.6rem;

  /* This makes it complicated to manages the page 
  so I'm getting rid of it  */

  /* float:right; */
 
}
.header a{
  text-decoration: none;
  color: black;
  margin-left: 5rem;
}
/*****************/
/* HERO SECTION */
/*****************/

.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;

}

.upper-box{

/* Same thing here (Float is old and useless now a days with the introduction of flex and grid. We are lucky we don't have to deal with it anymore) */

  /* float:left; */

  max-width:40%;
  margin-top:8rem;

  /* We don't need this one */
  /* margin-left:10rem; */
}
.main-heading{
  font-size: 3.8rem;
  line-height: 5.5rem;
  font-family: "Raleway";
}
.upper-box-txt{
  font-size: 2rem;
  margin:2rem 0;
  line-height: 2.5rem;
  font-family:'open sans';
}
.email{
  width: 55%;
  padding:1.5rem;
  margin-right: 1.5rem;
}
.email::placeholder{
  color: hsl(0, 0%, 75%);
}
.get-started{
  background-color: hsl(224, 93%, 58%);
  color: white;
  width: 35%;
  border: none;
  border-radius: 0.4rem;
  padding:1.5rem;
  font-size: 1.6rem;
}
.upper-img{
  /* float:right; */
  /* max-width:25%; */

  /* Niether do we need this one */
  /* margin-right:35rem; */
}

.first-img{
  max-width: 65rem;
}


/*************************/
/* STAY PRODUCTIVE SECTION*/
/*************************/

/*****************/
/* FOOTER */
/*****************/



*****************/
/* MEDIA QUERIS */
/*****************/
